
.three{
 padding: 10px 10px;

}

.container{
  width: 1140px;
  margin: 0px auto;
  
}
.ing{
    width: 100px;
    height: auto;
}
.baner{
  
  background-image:linear-gradient(#2b364b,#2b364b82), url(../img/1.jpg);
  width: 100%;
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px 0px;
    background-position: center;
}

.one{
  text-align: center;
}
.one h1{
  font-size: 65px;
    color: white; 
}
.one p{
  padding: 10px 0px;
    color: white;
}
 .btn{
  background: transparent;
    border: 1px solid #15a4fa;
    display: inline-block;
    padding: 10px 40px;
    margin-top: 40px;
    color: white;
    text-decoration: none;
    font-size: 10px;
    transition: .8s;
}
span{
  border-bottom: 1px solid #7181ce;
    width: 363px;
    display: block;
    margin: 10px auto;
}

 .one ul  {
  
}
.one ul li {
  display: inline-block;
}
.one ul li i {
  margin-top: 160px;
    margin-right: 52px;
    color: white;
    font-size: 36px;
}
.text-one{
      background-color: #deedef;
}
.text-one h2{
  text-align: center;
    padding: 12px 0px;
    margin-top: 53px;
}

.text-one p{
  text-align: center;
    padding: 0px 145px;
    font-size: 14px;
    margin: 0px 0px;
    margin-bottom: 100px;
}
.two{
  text-align: center;
  text-align: center;
    padding: 77px 0px;

}
.two h3{
  font-size: 20px;
    padding: 10px;
}
.two p{
  font-size: 12px;
    padding: 0px 43px;
}
.two i{
  background-color: skyblue;
    padding: 10px 10px;
    color:white;
}
.main{
  width: 100%;
  float: left;
}
.baner{
  width: 100%;
  float: left;
}

.text{
  width: 100%;
  float: left;
}

.icon{
  width: 100%;
  float: left;
  padding: 0px 132px;
}
.row{
  margin-right: 0px;
}
.team h2{
  text-align: center;
}
.team p{
  text-align: center;
}
.row {
    margin-right: 0px;
    padding: 7px 0px;
}
.contact-section {
    width: 100%;
    float: left;
    background: linear-gradient(#2b364b,#2b364b82),url(../img/way.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 70px;
    padding-bottom: 100px;
    text-align: center;
    color: white;
    background-position: center;
}
.form-header {
    margin-bottom: 50px;
}
.form-header h2 {
    font-size: 35px;
    text-transform: capitalize;
    margin: 0;
}
.form-header p {
    margin-top: 5px;
}
.form-section {
    width: 50%;
    margin: auto;
}
.form-section input[type='text'], .form-section input[type='email'] {
    width: 100%;
    padding: 15px 13px;
    border-radius: 2px;
    margin-bottom: 10px;
    border: none;
    background: transparent;
    color: white;
    border: 1px solid white;
}
.form-section textarea {
    width: 100%;
    padding: 13px;
    border-radius: 2px;
    border: none;
    background: transparent;
    border: 1px solid white;
    color: white;
}
.form-bottom {
    margin-top: 10px;
}
.bottom-left {
    width: 30%;
    float: left;
}
.bottom-left input[type='checkbox'] {
    margin-left: 0;
}
.bottom-right {
    width: 15%;
    float: right;
}
.send {
    color: white;
    display: inline-block;
    padding: 10px 40px;
    background: #15a4fa;
    border: none;
    border-radius: 4px;
    transition: .9s;
    border: 1px solid #15a4fa;
}
.footer-section {
  width: 100%;
    float: left;
}
.t p{
 padding: 8px 62px;
}
.s ul li{
  display: inline-block;
    margin: 10px 10px;
    background-color: blue;
    padding: 5px 12px;
    color: white;
}

.s li a{
  color: white;
}

@media (min-width: 0px)and(max-width: 500px){
 
 }
    
@media (min-width: 500.1px)and(max-width: 768px){

}

@media (min-width: 768.01px)and(max-width: 1200px){

}

@media (min-width: 1200px){

}
.team{
    width: 100%;
    float: left;
    background-color: #f0f0f7;
    padding: 80px 0px;
    
  }

.four{

}
.portfolio-gallery {
    margin: 40px auto;
    width: 68%;
}
.single-portfolio {
    width: 284px;
    display: block;
    float: left;
    margin: 10px;
    position: relative;
}
.single-portfolio img {
    width: 100%;
    height: auto;
}